<ion-content class="servicios-content">

  <div class="page-container">

    <div class="top-bar">
      <ion-button fill="clear" routerLink="/menu">←</ion-button>
      <h1>Servicios</h1>
      <ion-button size="small">+ Agregar</ion-button>
    </div>

    <ion-searchbar
      placeholder="Buscar servicios..."
      class="search">
    </ion-searchbar>

    <p class="contador">4 servicios disponibles</p>

    <div class="servicio-card" *ngFor="let servicio of servicios">
      <div class="icono">✂️</div>

      <div class="info">
        <h2>{{ servicio.nombre }}</h2>
        <span>{{ servicio.categoria }}</span>
        <p>{{ servicio.precio }}</p>
      </div>

      <ion-button
        fill="clear"
        routerLink="/agendar-cita">
        Seleccionar
      </ion-button>
    </div>

  </div>

</ion-content>
