<ion-content class="login-content">

  <div class="login-container">

    <div class="logo-section">
      <div class="logo-box">
        📅
      </div>

      <h1>CitaPro</h1>

      <p>Gestiona tus citas de manera profesional</p>
    </div>

    <div class="form-section">

      <ion-item>
        <ion-input
          label="Correo o usuario"
          labelPlacement="stacked"
          placeholder="correo@ejemplo.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Contraseña"
          labelPlacement="stacked"
          placeholder="********">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="login-button"
        routerLink="/menu">
        Iniciar sesión
      </ion-button>

      <ion-button
        expand="block"
        fill="outline">
        Registrarse
      </ion-button>

    </div>

  </div>

</ion-content>
